In [4]:
p_hostel=0.6
p_day=0.4
p_hostel_got_a=0.3
p_day_got_a=0.2
totala=(0.6*0.3)+(0.4*0.2)
p_hoster_getagrade=0.3*0.6/totala
print(p_hoster_getagrade)

0.6923076923076923

In [5]:
prevelance=0.01
true_positive=0.99
false_positive=0.02
ppositive=0.01*0.99+0.99*0.02
p_desie_positiveresult=0.01*0.99/ppositive
print(p_desie_positiveresult)

0.3333333333333333

In [7]:
import pandas as pd 
import numpy as np
data=pd.read_csv('weather.csv')
data.head()

   Unnamed: 0   outlook play
0           0     rainy  yes
1           1     sunny  yes
2           2  overcast  yes
3           3  overcast  yes
4           4     sunny   no

In [8]:
data['outlook']=data['outlook'].map({'sunny':0,'overcast':1,'rainy':2})
data['play']=data['play'].map({'yes':1,'no':0})
print(data)

    Unnamed: 0  outlook  play
0            0      2.0     1
1            1      0.0     1
2            2      1.0     1
3            3      1.0     1
4            4      0.0     0
5            5      NaN     1
6            6      0.0     1
7            7      NaN     1
8            8      2.0     0
9            9      0.0     0
10          10      0.0     1
11          11      2.0     0
12          12      1.0     1
13          13      1.0     1

In [13]:
probablity_yes=len(data[data['play']==1])/len(data)
#print(probablity_yes)
probablity_no=1-probablity_yes
#print(probablity_no)

In [21]:
p_yes_sunny=len(data[(data['outlook']==0)&(data['play']==1)])/len(data[data['outlook']==0])
print(p_yes_sunny)
p_yes_overcast=len(data[(data['outlook']==1)&(data['play']==1)])/len(data[data['outlook']==1])
print(p_yes_overcast)
p_yes_rainy=len(data[(data['outlook']==2)&(data['play']==1)])/len(data[data['outlook']==2])
print(p_yes_rainy)

0.6
1.0
0.3333333333333333

In [22]:
p_no_sunny=len(data[(data['outlook']==0)&(data['play']==0)])/len(data[data['outlook']==0])
print(p_no_sunny)
p_no_overcast=len(data[(data['outlook']==1)&(data['play']==0)])/len(data[data['outlook']==1])
print(p_no_overcast)
p_no_rainy=len(data[(data['outlook']==2)&(data['play']==0)])/len(data[data['outlook']==2])
print(p_no_rainy)

0.4
0.0
0.6666666666666666